In [34]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Load the Titanic training dataset
df = pd.read_csv("train.csv")

# Display the first 5 rows
print(df.head())

# Show dataset structure and missing values
print(df.info())

# Show basic statistical summaries
print(df.describe())

# Check number of missing values in each column
print(df.isnull().sum())


## EDA ##


# Check survival rate by gender
print(df.groupby("Sex")["Survived"].mean())

# Set plot style
sns.set(style="whitegrid")

# Create bar plot: survival rate by gender
sns.barplot(x="Sex", y="Survived", data=df)

# Set plot title and labels
plt.title("Survival Rate by Gender")
plt.ylabel("Survival Rate")
plt.xlabel("Gender")

# Show plot
plt.show()


# Check survival rate by Passenger Class
print(df.groupby("Pclass")["Survived"].mean())

# Set plot style
sns.set(style="whitegrid")

# Create bar plot: survival rate by Passenger Class
sns.barplot(x="Pclass", y="Survived", data=df)

# Set plot title and labels
plt.title("Survival Rate by Passenger Class")
plt.ylabel("Survival Rate")
plt.xlabel("Passenger Class")

# Show plot
plt.show()

# Check survival rate by Age

# Create age bins (you decide the bins)
df["AgeGroup"] = pd.cut(df["Age"], bins=[0, 10, 20, 30, 40, 50, 60, 70, 80])
print(df.groupby("AgeGroup")["Survived"].mean())

age_survival = df[df["AgeGroup"].notnull()].groupby("AgeGroup")["Survived"].mean()
print(age_survival)

# Set plot style
sns.set(style="whitegrid")

# Create bar plot: survival rate by Age
sns.barplot(x="AgeGroup", y="Survived", data=df)

# Set plot title and labels
plt.title("Survival Rate by Age Group")
plt.ylabel("Survival Rate")
plt.xlabel("Passenger Class")

# Show plot
plt.show()


# Create new column 'FamilySize'
df["FamilySize"] = df["SibSp"] + df["Parch"] + 1

df.groupby("FamilySize")["Survived"].mean()

# Set plot style
sns.set(style="whitegrid")

# Create bar plot: survival rate by Family Size
sns.barplot(x="FamilySize", y="Survived", data=df)

# Set plot title and labels
plt.title("Survival Rate by Family Size")
plt.ylabel("Survival Rate")
plt.xlabel("Passenger Class")

# Show plot
plt.show()

# Check survival rate by Passenger Class and Gender
df.groupby(["Sex", "Pclass"])["Survived"].mean()


# Check survival rate by Ticket Fare
# Make fare bins (you choose how)
df["FareGroup"] = pd.qcut(df["Fare"], q=4)  # Dividing into 4

# Check survival rate by fare group
df.groupby("FareGroup")["Survived"].mean()

print(df.groupby("FareGroup")["Survived"].mean())

# Check survival rate by boarding alone
df["IsAlone"] = (df["FamilySize"] == 1).astype(int)
print(df.groupby("IsAlone")["Survived"].mean())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [41]:
df["IsAlone"] = (df["FamilySize"] == 1).astype(int)
print(df.groupby("IsAlone")["Survived"].mean())

IsAlone
0    0.505650
1    0.303538
Name: Survived, dtype: float64